@import url("https://fonts.googleapis.com/css?family=Carter One");

:root{
    --image-size: 450px; 
}

video{
    width: 100%; 
    display: block; 
    margin: auto; 
}

.note{
    display: inline-block; 
}

.frontcover{
    height: calc(var(--image-size)/0.1vh);
    background-image: url("MLK_Ihave.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.title{
    display: inline-block;
}

@media screen and (min-width: 840px) {
    video{
        width: 640px; 
    }
}

/*
h1{
    font-family: "Carter One", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align:center; 
    font-size: 3em; 
    padding: 50px; 
}

.navbar{
    font-family: "Carter One";  
}

div.container{
    margin: auto;  
    padding: 1%; 
    background-color: rgb(236, 236, 236); 
}

h3{
    font-family: "Carter One", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.875em; 
    font-style: italic; 
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}

p.note{
    padding: 2%; 
    color: rgb(182, 164, 0);
    background-color:rgba(255, 230, 0, 0.24);
    display: inline-block; 
}
*/