div.author{
    width: 100%; 
    font-size: 0.875em; 
}

div.author p{
    display: inline-block; 
}

div.author button{
    border:none; 
    padding: 0.5%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 255, 0.432);
}

@media screen and (max-width: 600px) {
    img{
        width: 100%; 
    }
}